<!-- <p-menubar [model]="items"></p-menubar> -->
<div class="p-1 md:p-2">
  <a class="myProfile mr-1 md:mr-3 flex items-center" href="http://bit.ly/Elhamy_linkedIn" target="_blank">
    <img class="mr-1 md:mr-5 w-10 md:w-16" src="../../../../../assets/myProfile.jpg" alt="">
    <span class="hidden md:block">
      Ahmed Elhamy
    </span>
  </a>
</div>
<nav class="">
    <div class="links" *transloco="let t;  read: 'navBar'">
      <a routerLink="Form-Builder/survey" routerLinkActive="active">{{ t('survey') }}</a>
      <a routerLink="Form-Builder/example-1" routerLinkActive="active">{{ t('example-1') }}</a>
      <a routerLink="Formly-Builder/example-2" routerLinkActive="active">{{ t('example-2') }}</a>
    </div>
</nav>
