<as-split [direction]="isMobile ? 'vertical' : 'horizontal'">
  <as-split-area [size]="isMobile ? 25 : 50">
    <as-split [direction]="isMobile ? 'horizontal' : 'vertical'">
      <as-split-area [size]="75">
        <ace-editor
          [(text)]="jsonCode"
          [autoUpdateContent]="true"
          [durationBeforeCallback]="1000"
          [options]="aceEditorOptions"
          mode="json"
        ></ace-editor>
      </as-split-area>
      <as-split-area [size]="25" class="bg-black text-white p-5 " *ngIf="!isMobile">
        <div *ngIf="JsonValidation else good">{{JsonValidation}}</div>
        <ng-template #good>
          Everything seems fine
        </ng-template>

      </as-split-area>
    </as-split>


  </as-split-area>

  <as-split-area [size]="isMobile ? 75 : 50">
    <as-split [direction]="isMobile ? 'horizontal' : 'vertical'">
      <as-split-area [size]="100" class="p-5 md:p-1">
        <div class="w-full lg:w-10/12 m-auto">
          <h1 class="col-span-2">Demo Survey!</h1>
          <h4>This demo is built with reactive forms and with limited validation types, click <span class="customLink"  (click)="openJsonSchemaModal(templateFields)">here</span> to view the used JSON schema</h4>
        </div>

        <app-form-builder [FormFields]="formFields" (submitForm)="emailForm($event)"></app-form-builder>
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>

