:host {
  display:block;
  height: calc(100vh - 80px);
  @media screen and (max-width: 768px){
    height: calc(100vh - 48px);
  }
}
ace-editor {
height: 100%;
// height: calc( 100% - 100px);
width: 100%;
}
