@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import './assets/styles/_variables.scss';
@import './assets/styles/_custom.scss';
/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}


//reset unwanted focus
[type=text]:focus, [type=email]:focus, [type=url]:focus, [type=password]:focus, [type=number]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=month]:focus, [type=search]:focus, [type=tel]:focus, [type=time]:focus, [type=week]:focus, [multiple]:focus, textarea:focus, select:focus,button:focus {
  outline: 0px;
  border: 0px;
  box-shadow: none;
}

.customDialog {
  .mat-dialog-container {
    width: 50vw;
    max-height: 80vh;
    @media screen and (max-width:767px) {
      width: 90vw;
      max-height: 90vh;
    }
  }
}

:focus {
  outline: none !important;
}
