  <as-split [direction]="isMobile ? 'vertical' : 'horizontal'">
    <as-split-area [size]="isMobile ? 25 : 50">
      <as-split [direction]="isMobile ? 'horizontal' : 'vertical'">
        <as-split-area class="jsonInput" [size]="75">
          <ace-editor
          [(text)]="jsonCode"
          [autoUpdateContent]="true"
          [durationBeforeCallback]="0"
          [options]="aceEditorOptions"
          mode="json"

          ></ace-editor>


        </as-split-area>
        <as-split-area [size]="25" class="bg-black text-white p-5 " *ngIf="!isMobile">
          <div *ngIf="JsonValidation else good">{{JsonValidation}}</div>
          <ng-template #good>
            Everything seems fine
          </ng-template>

        </as-split-area>

      </as-split>
    </as-split-area>
    <as-split-area [size]="isMobile ? 75 : 50">
      <as-split [direction]="isMobile ? 'horizontal' : 'vertical'">
        <as-split-area [size]="75" class="p-5 md:p-1">
          <div class="w-full lg:w-10/12 m-auto">
            <h1 class="col-span-2">Another Powerful Example with Formly-Form!</h1>
            <h4>This demo is built with formly-form click <span class="customLink"  (click)="openJsonSchemaModal(fields)">here</span> to view the used JSON schema</h4>
          </div>
          <form [formGroup]="form" class="w-full lg:w-10/12 m-auto" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <div class="flex justify-end col-span-2">
              <button mat-button mat-flat-button class="rounded-none bg-gray-200" (click)="formReset()">Cancel</button>
              <button mat-button mat-flat-button color="primary" [disabled]="form.invalid" class=" ml-3"> Submit </button>
            </div>
          </form>
        </as-split-area>
        <as-split-area [size]="25" class="bg-black text-white p-5" *ngIf="!isMobile">
            <h2 class="text-yellow-200">Form Data Result</h2>
            {{formResponse}}
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
