:host {
  display:block;
  height: calc(100vh - 80px);
  @media screen and (max-width: 768px){
    height: calc(100vh - 48px);
  }
}
ace-editor {
height: 100%;
// height: calc( 100% - 100px);
width: 100%;
}
ngx-json-viewer {
  max-height: 100%;
	display: block;
}
form {
  button {
    border-radius: 0px !important;
    min-width: 100px;
    margin-left: 1rem;
  }


}
